.candidates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.candidates-container h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.filter-contains-candidate {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}

.filter-form {
  width: 25%;
  padding: 20px;
  height: 300px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-form h4 {
  text-align: center;
  margin-bottom: 10px;
}

.filter-form input {
  width: 100%;
  padding: 13px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.candidate-details {
  width: 70%;
  list-style-type: none;
  padding: 0;
}

.candidate-details li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.candidate-details h2 {
  margin: 0;
  font-size: 1.5rem;
}

.candidate-details p {
  font-size: 1rem;
  margin: 5px 0;
}

.candidate-details strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
