.home_container {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 40px 25px;
  background-color: #f5f5f5;
  margin: 10px auto;
  animation: fadeInUp 1s ease-in;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home_contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
  animation: slideIn 1.5s ease;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.left {
  flex: 1;
  padding: 20px;
  animation: fadeInLeft 1s ease-in-out;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.title h1 {
  font-size: 45px;
  font-weight: bold;
  color: #333;
  line-height: 1.3;
  margin-bottom: 20px;
  animation: zoomIn 1s ease;
}
@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.subtitle h2 {
  font-size: 20px;
  color: #555;
  line-height: 1.5;
}
.serch-btn button {
  margin-top: 15px;
  background: none;
  border: 1px solid #333;
  padding: 10px 18px;
  border-radius: 18px;
  background-color: #3c3c3c;
  color: #ffffff;
}
.serch-btn button a {
  color: #ffffff;
  font-size: 14px;
}
.serch-btn button:hover {
  background-color: #ffffff;

  transition: 0.5s;
}
.serch-btn button:hover a {
  color: #000000;
}
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
