.home_container {
  margin-top: 20px;
  position: relative;
  width: 90%;
  overflow: hidden;
  height: 65vh;
  margin: auto;
}
.home {
  margin-top: 10px;
}
.slide_item {
  width: 100%;
  height: 100vh;
}
.slider_image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.03);
  z-index: 0;
  pointer-events: none;
}
.home_content {
  position: absolute;
  top: 50%;
  left: 19%;
  transform: translateY(-50%);
  z-index: 10;
  color: #fff;
}
.left {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_content .title h1 {
  font-size: 3.3rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.home_content .subtitle h2 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #ffffff;
  font-weight: 500;
}

.home_content .button a {
  padding: 0.75rem 1.5rem;
  background: #0052b0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.home_content .button a:hover {
  background: #014899;
}
@media (max-width: 900px) {
  .home_content {
    left: 5%;
  }

  .home_content .title h1 {
    font-size: 2.5rem;
  }

  .home_content .subtitle h2 {
    font-size: 1rem;
  }

  .home_content .button a {
    padding: 0.75rem 1.25rem;
  }
}

@media (max-width: 987px) {
  .home_content {
    left: 20%;
  }

  .home_content .title h1 {
    font-size: 2.2rem;
  }

  .home_content .subtitle h2 {
    font-size: 0.95rem;
  }
}

@media (max-width: 740px) {
  .home_content {
    left: 1%;
  }

  .home_content .title h1 {
    font-size: 2rem;
  }

  .home_content .subtitle h2 {
    font-size: 0.9rem;
  }

  .home_content .button a {
    padding: 0.75rem 1rem;
  }
}

@media (max-width: 650px) {
  .home_content {
    left: 0%;
    top: 50%;
  }

  .home_content .title h1 {
    font-size: 1.8rem;
  }

  .home_content .subtitle h2 {
    font-size: 0.85rem;
  }

  .home_content .button a {
    padding: 0.7rem 0.9rem;
  }
}
@media (max-width: 799px) {
  .home_content {
    top: 50%;
  }
}

@media (max-width: 487px) {
  .home_content {
    left: 0%;
    top: 50%;
  }

  .home_content .title h1 {
    font-size: 1.5rem;
  }

  .home_content .subtitle h2 {
    font-size: 0.75rem;
  }

  .home_content .button a {
    padding: 0.7rem 0.8rem;
  }
}

@media (max-width: 330px) {
  .home_content {
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .home_content .title h1 {
    font-size: 1.3rem;
  }

  .home_content .subtitle h2 {
    font-size: 0.7rem;
  }

  .home_content .button a {
    padding: 0.5rem 0.75rem;
  }
}
