.job-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.job-list-container h2 {
  font-size: 30px;
}
.job-contain {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin-top: 18px;
}

.filter-form-jobs {
  display: flex;
  flex-direction: column;
  width: 20%;
  flex: 1;
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.filter-form-jobs h3 {
  text-align: center;
  margin-bottom: 15px;
}
.filter-form-jobs input {
  width: 100%;
  padding: 18px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
}

ul {
  display: flex;
  /* width: 100%; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 3;
  margin-left: 20px;
}

.job-list-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;
  margin-bottom: 10px;
  position: relative;
}

.job-list-item h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #333;
}

.job-list-item p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.job-list-item button {
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
}

.job-list-item button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 20px;
}

.notfound {
  width: 100%;
  text-align: center;
  padding: 20px;
}
