/* register.css */

.register {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  animation: fadeIn 1s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  animation: slideIn 1.2s ease;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.register form {
  display: flex;
  flex-direction: column;
}

.register input,
.register select,
.register textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  animation: inputFocusIn 0.5s ease;
}
@keyframes inputFocusIn {
  from {
    background-color: #f9f9f9;
  }
  to {
    background-color: #fff;
  }
}
.register .job-type {
  font-size: 10px;
  color: #828282;
}

.register textarea {
  resize: vertical;
}

.register .password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
  color: #888;
}

.register button {
  width: 100%;
  padding: 12px;
  background-color: #414141;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  transition: 0.5s;
  animation: zoomIn 1s ease;
}
@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.register button:hover {
  background-color: #151515;
}

.upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile {
  display: none;
}

.default-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  animation: fadeInScale 1.2s ease;
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.profile-preview {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.account-links {
  text-align: center;
  margin-top: 20px;
}

.account-links .text {
  color: #333;
}

.login-link {
  color: #5a67d8;
  text-decoration: none;
  font-weight: bold;
  transition: 0.8s;
}

.login-link:hover {
  text-decoration: underline;
}

.message {
  text-align: center;
  color: #d9534f;
  margin-top: 10px;
  font-weight: bold;
}
